h5 {
  margin-top: 40px !important;
}

code {
  color: sandybrown !important;
  word-break: break-word;
  padding: 7px;
  background: darkslategray;
}

pre {
  background: darkslategray;
  color: sandybrown !important;
  padding: 10px;
}