.myFace {
  width: 200px;
  border-radius: 50%;
}

.welcomeSection,
.speakingSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.welcomeSection p {
  padding: 0px 20px;
}

.postDate {
  font-size: 0.7em;
  margin-left: 10px;
  color: #464747;
  font-weight: 100;
}

.postDescription {
  font-style: italic;
  font-size: 0.8em;
}

.speakingImg {
  width: 350px;
  margin-left: 14px;
  border-radius: 6px;
}

.reversed {
  flex-direction: row-reverse;
}

.reversed .speakingImg {
  margin-right: 14px;
}

span.stronger {
  font-weight: 600;
}

.speakingSection {
  padding-top: 19px;
}

.talksList {
  list-style-type: none;
}

.talksList li {
  margin-bottom: 50px;
}

.talkLinkSection {
  text-align: center;
}

.talkLinkSection img {
  max-width: 80%;
}

.talksList p {
  text-align: center;
}

@media only screen and (max-width: 750px) {
  .welcomeSection {
    display: block;
    text-align: center;
  }
  .welcomeSection img {
    display: block;
    margin: auto;
  }
}

@media only screen and (max-width: 750px) {
  .speakingSection {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .speakingSection p {
    order: 1;
  }

  .speakingSection img {
    margin-bottom: 10px;
    width: 80%;
  }
}

pre code {
  padding: 0;
}
