.myFace {
  width: 200px;
  border-radius: 50%;
}

.speakingSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.speakingImg {
  width: 350px;
  margin-left: 14px;
  border-radius: 6px;
}

.reversed {
  flex-direction: row-reverse;
}

.reversed .speakingImg {
  margin-right: 14px;
}

span.stronger {
  font-weight: 600;
}

.speakingSection {
  padding-top: 19px;
}

.talksList {
  list-style-type: none;
}

.talksList li {
  margin-bottom: 50px;
}

.talkLinkSection {
  text-align: center;
}

.talkLinkSection img {
  max-width: 80%;
}

.talksList p {
  text-align: center;
}

@media only screen and (max-width: 750px) {
  .speakingSection {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .speakingSection p {
    order: 1;
  }

  .speakingSection img {
    margin-bottom: 10px;
    width: 80%;
  }
}

pre code {
  padding: 0;
}

table {
  margin-bottom: 20px;
}

thead th {
  text-align: inherit;
  border: 1px solid;
  background: rgba(86, 211, 199, 0.4);
  padding: 5px;
  font-size: 0.9rem;
}

tbody td {
  padding: 5px;
  border: 1px solid;
  font-size: 0.9rem;
  font-weight: 200;
}

button {
  background-color: #a44cb0;
}

code {
  font-weight: 600;
  font-size: 100%;
}

/* ------------- 100 Days Of Code page -------- */

.main-container {
  text-align: center;
}

twitter-widget {
  margin: 10px auto;
}
